<div class="group-form-auth">
  <!-- Form -->
  <%= form_with(scope: :registrations ,url: pages_auth_registrations_path, html: { method: :post }) do |form| %>
   
   <!--
    <div class="input-wrapper">
      <%= form.text_field :name, placeholder: "Fullname", class: "form-control" %>
    </div>
    -->

    <div class="input-wrapper">
      <%= form.email_field :email, placeholder: "Email Address", required: true %>
    </div>

    <div class="input-wrapper">
      <%= form.password_field :password, placeholder: "Password", required: true %>
    </div>

    <!--
    <div class="input-wrapper">
      <%= form.telephone_field :phone, placeholder: "Phone Number", class: "form-control" %>
    </div>
    -->

    <!-- Button Submit -->
    <div class="form-actions">
      <%= form.submit "Sign-up", class: "btn" %>
    </div>
  <% end %>
</div>
