<nav class="container-navigation-imob">
  <ul>
    <li><%= link_to 'Dashboard', pages_imob_admin_dashboard_path %></li>
    <li><%= link_to 'Imóveis', "#" %></li>
    <li><%= link_to 'Contatos', "#" %></li>
    <li><%= link_to 'Negócios', "#" %></li>
    <li><%= link_to 'Atividades', "#" %></li>
  </ul>
</nav>
