<h2>Pages/website</h2>
<br>
<% if user_signed_in? %>
<%= button_to do %>
<%= render "pages/auth/links/link_destroy" %>
<% end %>
<br>
<span>Id, <%= current_user.id %></span>
<span>Olá, <%= current_user.profile&.first_name %></span>
<span>Olá, <%= current_user.email %></span>
<% end %>